.input{
  -fx-background-color:  #202331;
  -fx-border-width: 0 0 1 0;
  -fx-border-color: #FFFFFF;
  -fx-text-inner-color: #FFFFFF;
}

.title{
    -fx-font-size: 36;
    -fx-text-fill: #FFFFFF;
}

.button1{
    -fx-cursor:hand;
    -fx-background-color: #3E636D;
    -fx-border-width: 0 1 1 0;
    -fx-border-color: #FFFFFF;
}

.choicebox .label{
    -fx-text-fill: #eeeeee;
    -fx-font-weight: bold;
}

.layout{
    -fx-background-color:  #202331;
    -fx-text-inner-color: #FFFFFF;
}

.back_button{
    -fx-graphic: url('../resources/imgs/back.png');
    -fx-cursor:hand;
    -fx-background-color: #202331;
    -fx-scale-x: 0.10;
    -fx-scale-y: 0.10;
}

.btnAdd{
    -fx-background-color: #3E636D;
    -fx-background-radius: 5em;
    -fx-min-width: 24px;
    -fx-min-height: 24px;  
    -fx-max-width: 36px;
    -fx-max-height: 36px;
}